.navbar-dark .navbar-nav .nav-link:hover {
     color:green; 
}

.nav-item a:hover{
    color:green;
}

.navbar-brand img{
    height: 50px;
}
#page-content{
    margin: 20px 0px;
}

#page-content h1 {
    line-height: 1;
    font-weight: 600;
    letter-spacing: 1px;
    color: #333;
    font-size: 28px;
    text-transform: uppercase;
}

.dropdown-menu{
    background: #333;
}

.dropdown-menu a{
    color: aliceblue;
}


#carousel1{
    margin: 100px 0 0 0;
}
.card-deck >.card{
    border-radius: 10px;
    overflow: hidden;
}

.likes{
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font-weight: 400;
    vertical-align: baseline;
    background: 0 0;
    display: inline;
}
.card-right{
    display: inline-block;
    vertical-align: top;
    width: 70%;
    margin-left: 3px;
}
.title-bar{
    margin: 10px;
}
.title-bar .h4{
    position: relative;
}

.title-bar a{
    position: absolute;
    top: 0px;
    right: 0px;
}

.cursor-pointer{
    cursor:pointer;
}
@media only screen and (max-width: 600px) {
    #mynavbar,.nav-item a {
        text-align: center;
    }
    .navbar  .input-group>.form-control{
        width: 150px;
    }  
    /* .scrolling_wrapper{
        display: flex;
        flex-wrap: nowrap;
        overflow-x:auto;
    }
    .scrolling_wrapper .card{
        flex:0 0 auto;
    } */
}

@media only screen and (max-width: 600px) {
    
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
    #mynavbar,.nav-item a {
        text-align: center;
    }

}
  
/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
    .navbar  .input-group>.form-control{
        width: 250px;
    }  
} 
  
/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
    .navbar  .input-group>.form-control{
        width: 340px;
    }  
} 
  
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
   .navbar  .input-group>.form-control{
       width: 500px;
   }
}
  

